<div class="background-blur"></div>
<div class="background-gradient"></div>

<div class="login-page">
  <div class="login-container">
    <div class="logout-container">
      <button class="logout-button" (click)="logout()"></button>
    </div>

    <h1 class="login-title">S'inscrire</h1>

    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <label for="nomEt">Nom</label>
      <input type="text" id="nomEt" name="nomEt" required [(ngModel)]="etudiant.nomEt" />

      <label for="prenomEt">Prénom</label>
      <input type="text" id="prenomEt" name="prenomEt" required [(ngModel)]="etudiant.prenomEt" />

      <label for="cin">CIN</label>
      <input type="number" id="cin" name="cin" required [(ngModel)]="etudiant.cin" />

      <label for="ecole">École</label>
      <input type="text" id="ecole" name="ecole" required [(ngModel)]="etudiant.ecole" />

      <label for="dateNaissance">Date de naissance</label>
      <input type="date" id="dateNaissance" name="dateNaissance" required [(ngModel)]="etudiant.dateNaissance" />

      <label for="email">Email</label>
      <input 
         type="email" 
         id="email" 
         name="email" 
         required placeholder="yasmine@gmail.com"
         [(ngModel)]="etudiant.email" 
         (blur)="checkEmail()" />

      <div *ngIf="emailExists" class="error-message">
        ❌ Cet email est déjà utilisé. Veuillez en choisir un autre.
      </div>

      <div class="form-group password-field">
        <label for="password">Mot de passe</label>
    <input
      type="{{ showPassword ? 'text' : 'password' }}"
      id="password"
      name="password"
      [(ngModel)]="etudiant.password"
      required
    />
    

    <button type="button" class="toggle-password" (click)="togglePasswordVisibility()" tabindex="-1" aria-label="Toggle password visibility">
      <i [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword" class="fas"></i>
    </button>
  </div>

  <button type="submit" [disabled]="!signupForm.form.valid || emailExists">S'inscrire</button>

      <div *ngIf="signupSuccessMessage" class="success-message">
        {{ signupSuccessMessage }}
      </div>
    </form>
  </div>
</div>
